# Python cache files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
processing/venv/

# Node / JS
**/node_modules/

# Build artifacts
frontend/.next/
backend/dist/

# Runtime files
processing/tmp/
backend/tmp/
*.log