# Python cache files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
processing/venv/
venv39/
.venv39/
processing/venv39/

# Node / JS
**/node_modules/

# Build artifacts
frontend/.next/
backend/dist/
*.egg-info/
dist/
build/
.eggs/

# Temporary files
*.tmp
tmp/
.env

# Testing / coverage
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# IDE
.vscode/
.idea/

# OS
.DS_Store